.navigation {
  // flex: 25rem 0;
  width: 25rem;
  left: 0;
  top: 0;
  height: 100vh;
  background: #1e1e2d;
  position: fixed;
  //   padding: 3rem;
  overflow-y: scroll;
  &::-webkit-scrollbar {
    display: none;
  }
  .heading-logo {
    color: var(--color-t-light);
    padding-top: 1rem;
    text-align: center;
    margin-bottom: 5rem;
    span {
      color: var(--color-primary-dark);
    }
  }
  .links-section {
    margin-bottom: 1.5rem;
    h2 {
      text-transform: uppercase;
      font-size: 1.3rem;
      margin-bottom: 1rem;
      padding-left: 2rem;
      color: #a2a3b7;
      letter-spacing: 0.1rem;
    }
    .active {
      background: #1a1a27;
      color: #fff;
    }
    .list {
      &-item {
        list-style: none;
        &-link {
          text-decoration: none;
          color: #a2a3b7;
          width: 100%;
          display: block;
          padding: 1rem 0;
          font-weight: 300;
          font-size: 1.5rem;
          padding-left: 2rem;

          &:hover {
            background: #1a1a27;
            color: #fff;
            transition: all 0.2s ease-out;
          }
        }
      }
      i {
        margin-right: 1.5rem;
        width: 10%;
      }
    }
  }
}
